p { 
    font-family: 'Knewave', cursive;
}

.bold {
    font-weight: bold;
}

.large {
    font-size: 20px;
}

.test { 
    color: purple;
}

.lineheight {
    line-height: 30px;
}

.goog {
    font-family: 'Diplomata', cursive;
}

